body {
  font-family: sans-serif;
  text-align: center;
}

.square {
  display: block;
  width: 25px;
  height: 25px;
  margin: 10px auto;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
